DATABASE_URL=jdbc:postgresql://db.onljnirapesqrwssvrhg.supabase.co:5432/postgres
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=YOUR_DATABASE_PASSWORD
SUPABASE_URL=https://onljnirapesqrwssvrhg.supabase.co
SUPABASE_SERVICE_ROLE_KEY=YOUR_SUPABASE_SERVICE_ROLE_KEY
SUPABASE_STORAGE_BUCKET=product-images
